div#head {background-color:yellow;}

div#footer {width:900px; height:40; font-family:Arial, Helvetica, sans-serif;}

div#footer p {margin:0; padding:18px;padding-left:50px; line-height:normal;font-size:10px;text-transform:uppercase; text-align:left;}